main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

h5 {
  padding: 1rem 0;
}

.product-listing {
  position: absolute;
  left: 0;
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Nunito, sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}